body,
html,
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: block;
    height: 100%;
    width: 100%;
}

.header {
    height: 81px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: relative;
    display: flex;
    width: 92%;
    height: 76px;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-family: myFont;
    font-size: 29px;
}

@font-face {
    font-family: myFont;
    src: url(911porschav3.ttf);
}

.png {
    margin-left: -2px;
    width: 16px;
    height: 19px;
}

.menu {
    position: absolute;
    left: 10px;
    display: flex;
    border-radius: 8px;
    width: 56px;
    height: 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.menu:hover {
    background-color: rgba(210, 210, 210, 0.507);
}

.menu p {
    margin-left: 7px;
    font-weight: 400;
}

.main {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.slider-wrapper {
    width: 100%;
    display: flex;
    animation: slide-animation 16s infinite;
}

.slide-1 {
    min-width: 100%;
}

.img {
    width: 100%;
    height: auto;
}

@keyframes slide-animation {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0%);
    }
}

.slide-1 a {
    margin-top: -180px;
    margin-left: 61px;
    display: flex;
    text-decoration: none;
    color: white;
    width: 1146px;
    height: 160px;
    transition: color 0.3s ease, width 0.3s ease;
}

.main a:hover {
    color: red;
}

.icon {
    width: 31px;
    height: 45px;
    margin-top: 25px;
}

.claim-part-1 {
    width: 455px;
}

.claim-part-1 p {
    font-size: 40px;
    margin-top: 18px;
    font-weight: bold;
    font-family: inherit;
    width: 500px;
}

.claim-part-2 {
    position: absolute;
    margin: 71px;
    margin-left: 26px;
    font-size: 29px;
    font-weight: 600;
    font-family: inherit;
    width: 500px;
}

.claim-part-3 p {
    font-size: 40px;
    margin-top: 18px;
    font-weight: bold;
    font-family: inherit;
    width: 500px;
}

.claim-part-4 {
    position: absolute;
    margin: 71px;
    margin-left: 26px;
    font-size: 29px;
    font-weight: 600;
    font-family: inherit;
    width: 500px;
}

.model-grid {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module-headline {
    width: 87%;
    max-width:2700px;
}

.module-headline span {
    font-size: 34px;
}

.section {
    width: 100%;
}

.section-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    width: 100%;
    max-width: 449.64px;
    height: 337.22px;
    background-color: aqua;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-size {
    width: 449.64px;
    height: 337.22px;
}

.card-1 {
    background: url(https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-718/small/e7041e23-0b8d-11ef-8128-005056bbdc38;sM;twebp;c892;gc/porsche-small.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-2 {
    background: url(https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-911/small/0e1cf3c0-0b8e-11ef-8128-005056bbdc38;sM;twebp;c892;gc/porsche-small.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-3 {
    background: url(https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-taycan/small/06c7f690-0b8d-11ef-8128-005056bbdc38;sM;twebp;c892;gc/porsche-small.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-4 {
    background: url(https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-panamera/small/34c0f4d3-0b8e-11ef-8128-005056bbdc38;sM;twebp;c892;gc/porsche-small.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-5 {
    background: url(https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-macan/small/58522db0-0b8e-11ef-8128-005056bbdc38;sM;twebp;c892;gc/porsche-small.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-6 {
    background: url(https://files.porsche.com/filestore/image/multimedia/none/carrange-flyout-cayenne/small/6d03d962-0b8e-11ef-8128-005056bbdc38;sM;twebp;c892;gc/porsche-small.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-isi {
    width: 85%;
    height: 90%;
}

.card-text {
    color: white;
    font-weight: 600;
}

.card-text p {
    font-size: 35px;
}

.card-text span {
    font-size: 18px;
}

.card-button {
    width: 300px;
    height: 60px;
    justify-content: start;
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.card-button button {
    width: 300px;
    height: 50px;
    background-color: white;
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: none;
}

.card-button button:hover {
    background-color: red;
    color: white;
}

.card-button span {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 49px;
    border: solid 1px white;
    transition: border 0.3s ease, color 0.3s ease;
}

.card-button span:hover {
    border: solid 1px red;
    color: red;
}

.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-grid2{
    width: 2700px;
    height: 80%;
}

.cube-grid{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.btn{
    border: none;
    margin-top: 220px;
    width: 170px;
    height: 51px;
    background-color: #313639;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: red;
}

.cube-1{
    width: 400px;
    height: 357px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-718/normal/db4be0ec-f8f4-11eb-80db-005056bbdc38;sO;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}



.cube-2{
    width: 400px;
    height: 357px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-911/normal/e7c2070d-f8f4-11eb-80db-005056bbdc38;sO;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}
.cube-3{

    width: 400px;
    height: 357px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-taycan/normal/253ef544-f8f5-11eb-80db-005056bbdc38;sO;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}

.cube-4{
    width: 400px;
    height: 357px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-macan/normal/0355d78f-f8f5-11eb-80db-005056bbdc38;sO;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}

.article{
    width: 100%;
    height: 829px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-grid{

    width: 87%;
    max-width: 170em;
    height: 80%;
    display: flex;
}

.box-grid-1{
    width: 50%;
    height: 100%;
    background-color: azure;
}
.box-grid-2{
    width: 50%;
    height: 100%;
    background-color: azure;
}
.box-grid-3{
    width: 50%;
    height: 100%;
    background-color: azure;
}

.box-grid{
    width: 100%;
    height: 30%;
    display: flex;
}
.box-1{
    width: 100%;
    height: 70%;
    background-color: black;
}

.box-7{
    width: 100px;
    height: 70%;
    background-color: black;
}

.box-6{
    width: 100px;
    height: 70%;
    background-color: black;
}
.box-1{
    width: 100%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/88e7bdb9667c3f064423db8928731454cd50973d7a441437727e37b5.jpg);
    background-size: 100%;
}

.box-2{
    width: 50%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/e10072b4fe5b000d00be840708d965f06a1ff4bdcb6b0a880d12a1b8.jpg);
    background-size: 100%;
}

.box-3{
    width: 50%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/5a138bf5273515816e6a2f2ef724efb02dc81f1740a429721a34f38e.jpg);
    background-size: 100%;
}

.box-4{
    width: 50%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/be96ccb39b598f595679e405814bd03d2ef94339314e6826ab117701.jpg);
    background-size: 100%;
}

.box-5{
    width: 50%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/c3e42345df9e100bbef254c5151db9951ce0d1b2f077f0cecc6af91e.jpg);
    background-size: 100%;
}

.box-6{
    width: 100%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/5a886f5b146d706d97bdffdfd654234542dfcb2c7d23b4d4155b2002.jpg);
    background-size: 100%;
}

.box-7{
    width: 100%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/59c3a346ce0b574b7a258cba89f786ed94896a272a9a85608ab85e6d.jpg);
    background-size: 100%;
}

.box-8{
    width: 50%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/e2a7a3d6fed2084d3950aa1dd439f4fa6556c9e84310400431e98c2f.jpg);
    background-size: 100%;
}

.box-9{
    width: 50%;
    background: url(https://d2vykwbochoala.cloudfront.net/t_smart_auto_crop/https://d1sdeqoxcfgxl0.cloudfront.net/images/original/aa621f02a9f2dd8d5cd7be752cceaba9ae0f91986ceb1acf32246c04.jpg);
    background-size: 100%;
}

.article2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-grid2{
    width: 2700px;
    height: 80%;
}

.kotak-grid{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}


.kotak-1{
    
    width: 400px;
    height: 300px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/rd-2018-homepage-teaser-ww-e-performance-kw12/normal/f7cc8e7c-6599-11e9-80c4-005056bbdc38;sK;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}



.kotak-2{
    width: 400px;
    height: 300px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/rd-2022-homepage-teaser-ww-pds-porschelifestyle-kw22/normal/585df047-db34-11ec-80ef-005056bbdc38;sK;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}
.kotak-3{

    width: 400px;
    height: 300px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/rd-2019-homepage-teaser-ww-roadsbyporsche-kw23/normal/8127be1d-81f3-11e9-80c4-005056bbdc38;sK;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}

.kotak-4{
    width: 400px;
    height: 300px;
    background: url(https://files.porsche.com/filestore/image/multimedia/none/rd-2017-homepage-teaser-porscheexclusivemanufaktur-kw24/normal/3cbd9b47-4c59-11e7-bfe2-0019999cd470;sK;twebp/porsche-normal.webp);
    background-size: 100%;
    background-repeat: no-repeat;
}

